body {
    background-color: lightskyblue;
  }
  
  p {
    color: rgb(27, 7, 32);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: oblique;
    margin-left: 50px;
  }